body {
  font-family: 'Montserrat',sans-serif;
    background-color: #F9F9F9;
    margin: 0 auto;
  }
#container {
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
  padding: 30px;
}

.container
{display: flex;
}
.modal-box{

	position: fixed;
	width: 500px;
	height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    display: none;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modal-close{
    color: white;
    font-size: 20px;
    float: right;
}

#modal-close{
    display: none;
}

#modal-active{
    display: block;
}


/*HEADER*/
header {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 30px;

}

.fa-chevron-down {
  display:none;
}

.nav-left, .nav-right {
  display: flex;
}

.search-bar {
  margin-left: 10px;
  width: 300px;
  background-color: white;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}

.search-bar input, button {
  border:none;
  background: none;
}

.search-bar button {
  margin-left: 5px;
}

.search-bar input {
  width: 220px;
  margin-top: 7px;
  color: #999;
  font-size: 13px;
}

.nav-right .fa {
  margin: 5px 10px 0 0;
}

.fa {
  color: #999;
}

.notifs, .avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e45127;
  margin-right: 10px;
}
.avatar {
  background-image: url(images/simplon-logo.png);
  background-size: contain;
}

.modal-nav {
  display:none;
}

.triangle {
  z-index: 1000;
  margin-left: 18px;
  width: 0;
  height: 0;
  border-width: 0 12.5px 15px 12.5px;
  border-color: transparent transparent grey transparent;width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 15px 12.5px;
  border-color: transparent transparent grey transparent;
}

.nav-responsive {
  background-color: grey;
  width: 150px;
  height: 220px;
  border-radius: 5px;
}

.nav-responsive li:first-child {
  padding-top: 20px;
}

.nav-responsive ul {
  display:flex;
  flex-direction: column;
  margin-top: 0;
  padding-left: 10px;
}
.nav-responsive ul li a {
  text-decoration: none;
  color: white;
}
.nav-responsive li {
list-style-type: none;
margin: 0 0 8px 10px;
text-transform: uppercase;
font-size: 12px;
padding-left: 0px;
}


.image_header{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://ph-files.imgix.net/b3b645af-1758-4f44-864f-e8523cc9fa1c?auto=format");
  background-position: center;
  background-repeat: no-repeat;
  height: 260px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 50px;
  padding: 0 30px;
}
.flamme_header {
  text-transform: uppercase;
  font-size: 12px;
}

.titre_slider h1 {
  margin-bottom: 0px;
  font-size: 28px;
}
.upDown_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.upDown_header i {
  color: white;
  padding-top: 10px;
}
.upDown_header p {
  margin-top: 0px;
  font-size: 12px;
}
.upDown_header_global {
  display: flex;
  flex-direction: row;
}
.upDown_header i:hover{
  color:#5898F1;
  cursor: pointer;
}
.upDown_header p:hover{
  color:#5898F1;
  cursor: pointer;
}
.decentralized p {
  margin-left: 40px;
  font-size: 13px;
}

/*hearder*/






/*gauche*/
#sidebar {
  font-size: 13px;
  line-height: 25px;
  margin-right: 10px;

}
#home_min {
  border-bottom: none;
  padding-bottom: 0px;
}
#home_min a{
  text-transform:none;
}
.cat-title {
  font-weight:bold;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgb(242, 242, 242);
}

.cat-title a {
  color: #000000;
}

.cat-title a:hover {
  background-color: #F9F9F9;
}

ul {
  margin-bottom: 60px;
  padding-left: 0px;
}

li {
  list-style:none;
}

li a {
list-style:none;
text-decoration:none;
color: #999999;
padding: 5px;
}

li a:hover {
  color: #000000;
  padding: 5px;
  background-color: #F3F3F3;
  border-radius: 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.trend {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  /*align-items: center;*/
}

#topics li:last-child {
  margin-top: 30px;
  text-transform: uppercase;
}
#topics span {
    color: red;
    font-size: 12px;
}
#topics span:hover {
    color: black;
}

.fire {
  background-image:url(images/1f525.png);
  background-size: contain;
  width: 15px;
  height: 15px;
  margin-left: 20px;
  margin-top: 7px;
}

/*gauche*/
.global_centreEtDroit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.global_centre {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  margin: 15px;
  width: 650px;
  border: 1px solid rgb(242,242,242);
}
.today {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(242,242,242);
  padding-bottom: 20px;
}
.nav_jour {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav_jour p {
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
.nav_jour p:last-child {
  margin-left: 10px;
  padding-left: 10px;
  border-left : 1px solid rgb(242,242,242);
  color: #999999;
}
.nav_jour p:hover {
  text-decoration: underline;
}
.jour h3{
    margin: 0px;
    font-size: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  color:#999999;
  border-bottom: 1px solid rgb(242,242,242);
  padding: 30px 20px;
}
.card:hover {
  background-color: #F9F9F9;
  cursor: pointer;
}
.coupe {
  display: flex;
  flex-direction: row;
  color:#999999;
  align-items: center;
}

.icone_card {
  display: flex;
  flex-direction: row;
  color:#999999;
}
.text_global_card {
  margin-left: 25px;
  width: 470px;
}
.text_card p {
  font-size: 12px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 15px;
}
.text_card h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
  color: black;
}
.coupe p{
    font-size: 12px;
    margin: 0px;
    margin-left: 10px;
}
.coupe img {
    width: 14px;
    height: 14px;
}
.icone_text_global {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icone_text {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  border:1px solid rgb(242,242,242);
  border-radius:3px;
  padding: 2px 10px;
  margin-right: 10px;
  background-color: white;
}
.icone_text:hover {
  cursor:pointer;
  background-color: #F2F2F2;
}
.icone_text p{
  margin: 0px;
  margin-left: 5px;
  font-size: 12px;
}
.icone_text .fa.fa-play {
  color: black;
  font-size: 12px;
}
.icone_text .fa.fa-heart {
  font-size: 12px;
}
.web {
  font-size: 12px;
  border: 1px solid #F9F9F9;
  background-color: #F9F9F9;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 11px;
  text-transform: uppercase;
  color: black;
}
.web:hover {
  background-color: #EDEDED;
}
.icone {
  display: flex;
  flex-direction: row;
}
.fleche p{
  color: black;
  font-size: 12px;
}
.commentaire {
    font-size: 12px;
}
.web_text_icone {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text_web {
  color: #999999;
  font-size: 12px;
  margin-left: 5px;
}
.global_droit {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  margin: 15px;
  width: 200px;
  height: 250px;
}

.global_droit span {
    color: #999999;
    font-size: 12px;
}
.global_droit h4{
  margin-bottom:12px;
  margin-top: 0px;
}
.reseaux_sociaux {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  border-radius: 3px;
  justify-content: center;
}
.reseaux_sociaux p {
  font-size: 11px;
  margin: 10px;
  text-transform: uppercase;
}
.reseaux_sociaux .fa{
  color: white;
}
.reseaux_sociaux:hover {
cursor:pointer;
}
.twitter {
  margin-top: 20px;
  background-color: #00ACED;
  margin-bottom: 10px;
}
.facebook {
  background-color: #3B5998;
}
#fleche_up_svg {
  width: 16px;
  height: 16px;
  color:white;
}
/*MODAL*/
.modal_global {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #F9F9F9;
  border-radius: 5px;
  padding: 20px;
}

.text_global {
  display: flex;
  flex-direction: row;
}
.modal_haute {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  margin-bottom: 20px;
}
.text_card {
  margin-bottom: 20px;
}
.upvote_downvote {
  display: flex;
  flex-direction: row;
}
.logos_reseaux_sociaux {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.logo_modal {
  width: 55px;
  height: 35px;
  border-radius: 3px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.facebook_modal {
  background-color: #3B5998;
  margin-right: 10px
}
.twitter_modal .fa {
  color: white;
}
.twitter_modal {
  background-color:#00ACED ;
}
.facebook_modal .fa {
  color: white;
}
.modal_bas {
  border-top: 1px solid rgb(242,242,242);
  font-size: 12px;
}
.pseudo_et_date {
  display: flex;
  flex-direction: row;
  align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.pseudo {
  font-size: 14px;
  margin-right: 20px;
}
.date {
  font-size: 10px;
  color:  #999;
}
.comments {
  font-size: 12px;
  margin-bottom: 20px;
}

/*MEDIA QUERIES*/


@media (max-width:1000px) {
.global_droit {display: none;}
}
@media (max-width:768px) {
.fa-chevron-down {display:block; margin: 10px 0 0 10px;}
.global_centre {width: 100%;margin: 0px;}
.global_droit {display: none;}
#sidebar {display: none;}
.web_text_icone {display: none;}
.search-bar {width: 200px;border: none;}
.search-bar input{width: 55px;}
header {padding: 5px;}
.image_header {margin: 0px;}
.card{padding-left: 0px;padding-right: 0px;}
}

@media (max-width:450px) {
.icone {flex-wrap: wrap;}
.global_centre {width: 460px;}
}
